<!--- separate from itemTemplate so that info can be displayed differently per item on the checkout page -->

<class = "checkout-item">
    <p>{{name}}</p>
    <p>{{priceDescription}}</p>


</class>