<main class="category-main-page">
   <div class="title-container">
        <div class = "meats-container">
           <h3>Meat Section</h3>
            <a href="/category/meats"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Bologna_lunch_meat_style_sausage.JPG" alt="Click to go to meats section" style="width:500px;height:500px;"></a>
        </div>
        <div class = "veggies-container">
            <h3>Produce Section</h3>
            <a href="/category/veggies"><img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Broccoli_and_cross_section_edit.jpg" alt="Click to go to drinks section" style="width:500px;height:500px;"></a>
        </div>
        <div class = "drinks-container">
            <h3>Drinks Section</h3>
            <a href="/category/drinks"><img src="https://i.stack.imgur.com/Bvvvi.jpg" alt="Click to go to drinks section" style="width:500px;height:500px;"></a>
        </div>
    </div>
</main>