<main class="category-page">
   <div class="title-container">
        <h3>{{name}}<i class="fas fa-heart"></i></h3>
        {{#each items}}
            {{> item}}
        {{/each}}
    </div>
</main>