<main class = "checkout-page">
    <h3>Your cart:</h3>
    {{#each items}}
        {{>item}}
    {{/each}}

    <div class = "checkout-footer">
        <h3>Your checkout total:</h3>
        <div class = "checkout-total"> <!-- total --> </div>
        <button type="button" id="checkout-button"><i class= CHECKOUTBUTTONPLACEHOLDER ></i></button>
    </div>
</main>