<main class="home-page">

   <div class="title-container">
         {{!-- <div class="specials-container"> --}}
            <h3>Specials</h3>
             {{#each specialItems}}
               {{> item}}
             {{/each}}

         </div>

    </div>

    <div class="title-container">
        <h3>Meats</h3>
            {{#each meatsItems}}
               {{> item}}
             {{/each}}
    </div>

    <div class="title-container">
        <h3>Veggies</h3>
            {{#each veggiesItems}}
                {{> item}}
            {{/each}}
    </div>

    <div class="title-container">
        <h3>Drinks</h3>
            {{#each drinksItems}}
                {{> item}}
            {{/each}}
    </div>

</main>
